#fpv{
    background-color: $primary-color;
    background-image: linear-gradient(
      
      $black-color 100%,
      $primary-color 70%,
    );
    color: $white-color;
    height: 100%;
    border-top: 0px;
    
    .fpv-wrapper {
        margin-bottom: 5rem;
    
        @include respond(phone) {
          margin-bottom: 3rem;
        }
    
    }
}