#gallery {
    background-color: $primary-color;
    background-image: linear-gradient(
        $black-color 0%,
      $primary-color 0%,
      $black-color 90%
    );
    color: $white-color;
    height: 100%;
    border-top: 0px;
     
    @include respond(tab-land) {
      height: 100%;
      -webkit-clip-path: none;
      clip-path: none;
    }
    img{
      width: inherit;
      pointer-events: none;
    }
  
    .about-wrapper {
      
  
      &__image {
        
  
        @include respond(tab-port) {
          
          width: 100%;
        }
        @include respond(tab-land) {
         
         
        }
      }
  
    }
  }
  