.hero{
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background-color: "white";
    font-weight: 400;
    color: "blue";
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.herotitle {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
/*
    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
    */
  }
.textcolormain {
    color: #191970
   
  }
  
  
  
.herocta {
      display: flex;
  
    }

.ctabtnhero {
        background-image: linear-gradient(135deg, #191970 0%, #191970 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(135deg, #191970 0%, #191970 100%);
        border-image-slice: 1;
        cursor: pointer;
}
        :after {
            background-image: linear-gradient(135deg, #191970 0%, #191970 100%);
           
          }
        
        :hover {
            -webkit-text-fill-color: "white";
            text-decoration: none;
        }
        
        :after {
              width: 100%;
            
          }
        
      
      


